* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
    background-size: cover;
}

:root {
    --pink: #110d0d;
    --dark-pink: #1f1a1a;
    --purple: #e21010;
    --dark-purple: #353030;
    --dark: #262429;
}

body {
    /* background-color: var(--dark); */
    width: 100%;
    height: 100vh;
    overflow: hidden;
}



.background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--purple);
    width: 100%;
    height: 100vh;
    font-size: 80px;
    letter-spacing: 2px;
    text-transform: uppercase;
    user-select: none;
    animation: glowwwww 2s infinite;
    overflow: hidden;
}

.box {
    background: rgb(56, 46, 50);
    height: 350px;
    width: 750px;
    background-color: var(--dark-purple);
    border-radius: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    padding: 5px;
    transition: 0.3s ease;
    font-size: 50px;
    text-transform: capitalize;
    box-shadow: 34px 20px 0px 10px var(--dark-pink);
    position: relative;
    text-align: end;
    color: var(--pink);
}

    .background .box .media {
        width: 100%;
        position: absolute;
        bottom: 15px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        box-sizing: border-box;
        padding: 5px;
        transition: 0.3s ease;


  }

  .background .box .media a {
    text-decoration: none;
    color: var(--pink);
    margin: 0;
    padding: 0;
    font-size: 50px;
    --c: var(--dark-pink);
    --b: 5px;
    --g: 1px;
    padding: calc(var(--g) + var(--b));
    --_g: #0000 25%, var(--c) 0;
    background:
        conic-gradient(from 180deg at top var(--b) right var(--b), var(--_g)) var(--_i, 200%) 0 /200% var(--_i, var(--b)) no-repeat,
        conic-gradient(at bottom var(--b) left var(--b), var(--_g)) 0 var(--_i, 200%)/var(--_i, var(--b)) 200% no-repeat;
    transition: .3s, background-position .100s .3s;
    cursor: pointer;
   

}

.background .box .media a:hover {
    --_i: 100%;
    transition: .3s, background-size .3s .3s;
}

.box span {
    font-size: 20px;
}
.box img {
    width: 300px;
    position: relative;
    top: 0;
    left: 0;
    transform: translate(-30%, -50%);
    border-radius: 50%;
    box-shadow: 1px 1px 40px var(--pink);
}

.background .home:hover .media {
    width: 100%;
    transition: 0.3s ease;
}